<div class="photo">
  <%= image_tag 'haiku.jpg' %>
</div>

<div class="setumei">
  <p><strong>俳句とは</strong></br>五・七・五の十七音から成る日本語の定型詩である。</br>世界最短の定型詩とされ、十七文字（じゅうしちもじ）、十七音（じゅうしちおん）、十七語（じゅうしちご）とも呼ばれる。</br> 俳句の有季定型性を捨象する形で派生した自由律俳句や無季俳句などもある。 </br>俳句を詠む人を俳人と呼ぶ。</p>
</div>

<div class="test">
  <p>このサービスは古き日本の伝統「俳句」を投稿するものです。</br>昔の日本人は川に雨が当たる音を聞いて「お琴のような音色」と表現した。</br>現代ではなかなそのように表現する機会もなくなった。</br>だからせめてウェブの中だけでもあなたの俳句を作りませんか</p>
</div>

<div class="contents row">
<p><ユーザーの5 7 5></p>
  <% @tweets.each do |tweet| %>
    <div class="content_post" style="background-image: url(<%= tweet.image %>);">
      <% if user_signed_in? && current_user.id == tweet.user_id %>
        <div class="more">
          <span><%= image_tag 'arrow_top.png' %></span>
          <ul class="more_list">
            <li>
              <%= link_to '詳細', "/tweets/#{tweet.id}", method: :get %>
            </li>
            <% if user_signed_in? && current_user.id == tweet.user_id %>
              <li>
                <%= link_to '削除', "/tweets/#{tweet.id}", method: :delete %>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
        <%= tweet.text %></br>
        <%= tweet.text2 %></br>
        <%= tweet.text3 %>
      <span class="name">
        <a href="/users/<%= tweet.user_id %>">
          <span>投稿者</span><%= tweet.user.nickname %>
        </a>
      </span>
    </div>
  <% end %>
  <%= paginate(@tweets) %>
</div>