<div class="contents row" >
    <p><%= @nickname %>さんの投稿一覧</p>
    <% @tweets.each do |tweet| %>
      <div class="content_post" style="background-image: url(<%= tweet.image %>);">
        <%= tweet.text %></br>
        <%= tweet.text2 %></br>
        <%= tweet.text3 %>
      </div>
    <% end %>
    <%= paginate(@tweets) %>
  </div>